
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(236, 214, 171);

}
.card {
  background-color: rgb(233, 221, 221);
  padding: 2em;
  margin: 15px;
  border-radius: 15px 0;
  color: rgb(117, 111, 111);
  box-shadow: 2px 2px 5px 3px;
}